<app-navbar></app-navbar>

<div class="heading">
  <h1>Dashboard</h1>
</div>
<div class="contain">
  <div class="search">

    <input type="text" class="form-control me-2" placeholder="Search Student by Id" aria-label="search" [(ngModel)]="studentId">
    <button type="button" (click)="getStudentById()" class="btn btn-secondary">Search</button>

  </div>
  <div class="add-student">
    <button (click)="onClick()" class="btn1">Add Student</button>
    <button (click)="delete()" class="btn2">Delete All Student</button>
  </div>
</div>
<div *ngIf="student container">
  <div class="student-div">
    <div class="detail-row">
      <div class="id">ID</div>
      <div class="fName">First Name</div>
      <div class="lName">Last Name</div>
      <div class="contact">Contact</div>
      <div class="address">Address</div>
      <div class="dept">Department</div>
      <div class="action">Actions</div>
    </div>
    <hr>
    <app-detail-row [student]="student"></app-detail-row>
  </div>
</div>

<div class="add-div">
  <div *ngIf="add" class="form-div">
    <app-student-form></app-student-form>
  </div>
</div>


<div class="container">
  <button (click)="showAll()" type="button" class="btn btn-outline-secondary p-3 me-5">Show All Students</button>
  <button (click)="showPaged()" type="button" class="btn btn-outline-secondary p-3">Show Paged Students</button>
</div>

<div  class="container" *ngIf="pagedStudent">
  <app-paged-students></app-paged-students>
</div>


<div class="container" *ngIf="allStudent">
  <app-student-detail></app-student-detail>

</div>

