<div class="detail-row">
            
    <div class="id">{{student.Id}}</div>
    <div class="fName">{{student.FirstName}}</div>
    <div class="lName">{{student.LastName}}</div>
    <div class="contact">{{student.Contact}}</div>
    <div class="address">{{student.Address}}</div>
    <div class="dept">{{student.Department}}</div>
    <div class="action"><button (click)="onClick()" class="btn">Action</button></div>
    
</div>
<div *ngIf="action" class="action-btn">
    <div class="bt1"><button type="button" (click)="updateProfile()" class="btn">Update</button></div>
    <div class="bt2"><button type="button" (click)="partialUpdateProfile()" class="btn">Partial update</button></div>
    
    <div class="bt3"><button type="button" (click)="deleteStudent()" style="background-color: rgb(151, 9, 9);" class="btn ">Delete</button></div>
    
</div>
<div *ngIf="partial">
    <app-partial-update [student]="student"></app-partial-update>
</div>
<div *ngIf="update">
    <app-update-profile [student]="student"></app-update-profile>
</div>



